# OS junk
*:Zone.Identifier
.DS_Store

# editor/history
.vscode/
.history/
.ipynb_checkpoints/

# python
__pycache__/
*.pyc

# OS / misc
.DS_Store
__pycache__/
*.pyc

# LaTeX build artifacts
figure_pipeline/table1_novel_pairs/*.aux
figure_pipeline/table1_novel_pairs/*.log
figure_pipeline/table1_novel_pairs/*.fls
figure_pipeline/table1_novel_pairs/*.fdb_latexmk
figure_pipeline/table1_novel_pairs/*.synctex.gz
paper/**/*.aux
paper/**/*.log
paper/**/*.fls
paper/**/*.fdb_latexmk
paper/**/*.synctex.gz
paper/**/*.out
paper/**/*.toc
paper/**/*.lof
paper/**/*.lot
paper/**/*.blg
paper/**/.history/


# RESULTS (contains mostly large files)s
results/**
!results/models/.gitkeep



# HALO package .egg-info
*.egg-info/
build/
dist/

