# OS junk
*:Zone.Identifier
.DS_Store

# editor/history
.vscode/
.history/
.ipynb_checkpoints/

# python
__pycache__/
*.pyc

# OS / misc
.DS_Store
__pycache__/
*.pyc

# latex build junk (global)
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz

# RESULTS (contains mostly large files)
results/**
!results/**/
*.log

# Keeping figure-needed artifacts
!results/models/exp06d_lgbm_bin_nosspace_elementwise_reduced_nestedcv/metrics_train_cv1.csv
!results/models/exp06d_lgbm_bin_nosspace_elementwise_reduced_nestedcv/metrics_test_cv1.csv
!results/models/exp06d_lgbm_bin_nosspace_elementwise_reduced_nestedcv/metrics_per_fold_cv1.csv
!results/models/exp06d_lgbm_bin_nosspace_elementwise_reduced_nestedcv/train_predictions_cv1.csv
!results/models/exp06d_lgbm_bin_nosspace_elementwise_reduced_nestedcv/test_predictions_cv1.csv
!results/models/exp06d_lgbm_bin_nosspace_elementwise_reduced_nestedcv/feature_importances_cv1.csv
!results/models/exp06b_lgbm_bin_sspace_elementwise_reduced_nestedcv/cc_vs_ss_importance_summary.csv
!results/models/external_validation/external_validation_chandrasekaran/external_roc_curve_chandrasekaran.csv
!results/models/external_validation/external_validation_chandrasekaran/external_pr_curve_chandrasekaran.csv
!results/models/external_validation/external_validation_chandrasekaran/external_confusion_matrix_chandrasekaran.csv
!results/models/external_validation/external_validation_chandrasekaran/external_predictions_chandrasekaran.csv
# Keeping experiment-needed artifacts
!results/models/exp05e_lgbm_bin_nosspace_elementwise_featselect/elementwise_features_filtered_cv1.csv
!results/models/exp05e_lgbm_bin_nosspace_elementwise_featselect/elementwise_features_filtered_cv1_full.csv
!results/models/exp05e_lgbm_bin_nosspace_elementwise_featselect/elementwise_features_filtered_cv2.csv
!results/models/exp05e_lgbm_bin_nosspace_elementwise_featselect/elementwise_features_filtered_cv1_cc_only.csv
!results/models/exp06b_lgbm_bin_sspace_elementwise_reduced_nestedcv/feature_importances_cv1.csv
!results/models/exp06d_lgbm_bin_nosspace_elementwise_reduced_nestedcv/best_params_cv1.json

# HALO package .egg-info
*.egg-info/
dist/
build/

# Keep gitkeep file
!results/models/.gitkeep
